autocrop==0.3.1
beautifulsoup4==4.7.1
bokeh==1.0.4
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.4
decorator==4.3.2
dlib==19.16.0
docopt==0.6.2
facemorpher==5.2.1
html2text==2018.1.9
idna==2.8
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.3.2
MarkupSafe==1.1.1
matplotlib==3.0.3
Morphing==0.1.dev0
networkx==2.2
numpy==1.16.2
opencv-python==3.4.5.20
openface==0.2.1
packaging==19.0
pandas==0.24.1
Pillow==5.4.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==5.4
requests==2.21.0
scikit-image==0.14.2
scipy==1.2.1
selenium==3.141.0
six==1.12.0
soupsieve==1.8
tabulate==0.8.3
toolz==0.9.0
tornado==6.0.1
urllib3==1.24.1
